
/* div{
    border: 2px solid black;
}

.alovset{
    height: 100vh;
   background:darkkhaki;
}
.box1{
    width: 250px;
    background-color: darkmagenta;
    height: 180px;
    border-radius: 50%;
    transform: rotateX(360deg) rotateY(2deg);
}
.letafet li{
    margin-left: 25px;
    list-style: none;
} */

.carousel-inner{
    
    width: 100%;
    height: 450px;
}
